

body {
background-color: rgb(239, 235, 241);

}

h2 {
    font-size: 30px ;
    color: navy;

}
.header h1{
    font-size: 46px ;
    padding: 2%;
    color: navy;

}

header, li{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
     
}

h1:hover{
    color: violet;

}

#profileImg {
    border-radius: 100px;
}

/* doesnt work */
main{

    align-content: center;

}


    
.header nav ul li{
    
    list-style-type:none;
    font-size: 25px;
    display: inline-flex;
    margin: 30px 30px ;
    
    
}

nav li a:hover {
    color:violet;
    cursor: grab;
    
}



/* controls how much of the page the content covers, font and margins */
section {
    font-family: Arial, Helvetica, sans-serif;
    width: 60% ;
    margin: 50px 300px 0px 300px;
    
    
}
/* padding between h2 and div element below */
.content-div{
    padding-top: 20px;
}
/* doesnt work */
#contact{
    display: inline-flex;
}




@media screen and (max-width: 768){

    
}

    

















footer {
    padding: 100px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}