*{

   /* outline: 5px solid red; */
}

:root{

    --fontColor:navy;
    --hover: violet;
}

body {
    
background-color: rgb(239, 235, 241);

}

h2 {
    font-size: 30px ;
    color: navy;
    padding-bottom: 25px ;
    
}
.header h1{
    font-size: 46px ;
    padding: 2%;
    color: var(--fontColor);

}

header, li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    
     
}
.header nav ul li{
    
    list-style-type:none;
    font-size: 25px;
    display: inline-flex;
    margin: 30px 30px ;
       
}

#profileImg {
    border-radius: 100px;
    margin: 20px;
    width:150px;
    border:3px solid var(--fontColor);

}
.workImgs{
    display: flex;
    flex-wrap: wrap;
}

#largeImg{
    background-image: url("../assets/docs/Myscreenshot.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    /* opacity: .6; */
    background-size: cover;
    margin-bottom: 25px;
    background-position: top center;
    position: relative;
}
/* #largeImg:hover{
    opacity: 1;
    cursor: grab;
} */

.imgTitle{
   
  position: absolute;
  width: 20%;
  bottom: 20px;
  right: 20px;
  background-color:white;
  color: black;
  padding-left: 25px;
  padding-right: 25px;
  width: 20%;
}

/* img2 adjusts all of the project # pics*/

     

 .imgs2{
     background-image: url("https://images.pexels.com/photos/69432/pexels-photo-69432.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
     width: 49%;
     height: 300px;
     background-repeat: no-repeat;
     background-position:center center;
     margin-left: 0px;
     position: relative;
     margin-bottom: 25px;
     margin-left: .5%;
 }
 /* .workImgs:hover {
    opacity: 1;
    cursor: grab;
} */

nav li a:hover {
    color:var(--hover);
    cursor: grab;
    
}

/* controls how much of the page the content covers, font and margins */
section {
    margin: 0px 30px 0px 30px ;
    display: flex;
    flex-direction: column;


}

/* padding between h2 and div element below */
.content-div{
  
    padding-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
}
.content-div a:hover{
    color: var(--hover);
    cursor: grab;
}

footer {
    padding: 35px;
    margin-bottom: 0px;
    clear: both;
    text-align: center;
    color: var(--fontColor);
   
}



@media screen and (max-width: 768px){
    h1{
        flex-wrap: nowrap ;
    }
    #profileImg{
        display: flex;
        width: 150px;
       ;
       
    }
    .navbar ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        
       
    }

    #largImg{
        display: flex;
        width:500px;

     
    }
    .imgs2{
        
        width: 49%;  
        flex: 50%;
    }

    .imgs3{
        width: 49%;
        flex: 50%;
    }
    footer{
        display: flex ;
        justify-content: center;
        
       
    
    }
   
    
}
@media screen and (max-width: 636px){

    .header{
        align-items: center;
        flex-direction: column;
    }
     header h1{
         display: flex;
        
      
     }
     .navbar ul{
         display: flex;

         flex-direction: column;
       
        
     }
     #profileImg{
         display: flex;
         
        
     }

     .imgs{
        display: flex;
        flex-direction: column;
        width: 49%;
        flex: 50%;
     }
     footer{
         display: flex;
         justify-content: center;
       
     }
}

